@mixin label{
    line-height:25px;
    font-weight: 400;
    font-size:13px;
}
@mixin desc{
    line-height:20px;
    font-size:12px;
    color:#5F5D5D;
}
@mixin input{
    box-sizing: border-box;
    border:0;
    border-bottom: 1px solid #D7D7D7;
    height:30px;
    width:100%;
    outline: none;
}
.form-text{
    margin-bottom: 10px;
    .form-text-label{
        @include label;
    }
    .form-text-input{
        input {
            @include input;
        }
    }
    .form-text-desc{
        @include desc;
    }
}
.form-textarea{
    margin-bottom: 10px;
    .form-textarea-label{
        @include label;
    }
    .form-textarea-input{
        textarea {
            @include input;
            min-height:100px;
        }
    }
    .form-textarea-num{
        font-size:12px;
        line-height:15px;
        text-align:right;
    }
    .form-textarea-desc{
        @include desc;
    }
}
.form-select{
    margin-bottom: 10px;
    .form-select-label{
        @include label;
    }
    .form-select-input{
        select{
            @include input;
        }
    }
    .form-select-num{
        font-size:12px;
        line-height:15px;
        text-align:right;
    }
    .form-select-desc{
        @include desc;
    }
}
.form-checkbox{
    margin-bottom: 10px;
    .form-checkbox-label{
        @include label;
    }
    .form-checkbox-input{
        .form-checkbox-input-con{
            line-height:30px;
            margin-right:15px;
            display: inline-block;
            vertical-align: top;
        }
        .form-checkbox-input-dot{
            display: inline-block;
            vertical-align: top;
            input{
                display: inline-block;
                vertical-align: middle;
            }
        }
        .form-checkbox-input-name{
            display: inline-block;
            vertical-align: top;
        }
    }
    .form-checkbox-num{
        font-size:12px;
        line-height:15px;
        text-align:right;
    }
    .form-checkbox-desc{
        @include desc;
    }
}
.form-radio{
    margin-bottom: 10px;
    .form-radio-label{
        @include label;
    }
    .form-radio-input{
        .form-radio-input-con{
            line-height:30px;
            margin-right:15px;
            display: inline-block;
            vertical-align: top;
        }
        .form-radio-input-dot{
            display: inline-block;
            vertical-align: top;
            input{
                display: inline-block;
                vertical-align: middle;
            }
        }
        .form-radio-input-name{
            display: inline-block;
            vertical-align: top;
        }
    }
    .form-radio-num{
        font-size:12px;
        line-height:15px;
        text-align:right;
    }
    .form-radio-desc{
        @include desc;
    }
}