<!--[text]-->
<div class="form-text-label"><%=data.label;%></div>
<div class="form-text-input">
    <input type="<%=data.inputType;%>" value="<%=data.value;%>" placeholder="<%=data.placeHolder;%>" data-find="input"/>
</div>
<%if(data.desc){%>
    <div class="form-text-desc"><%=data.desc;%></div>
<%}%>
<div class="form-text-errortip" data-find="tip"></div>
<!--[form]-->
<%for(var i=0;i<data.fields.length;i++){%>
<@module type="{{data.fields[i].type}}" option="{{$.is.isString(data.fields[i].option)?data.fields[i].option:''}}" id="{{i}}"/>
<%}%>
<!--[textarea]-->
<div class="form-textarea-label"><%=data.label;%></div>
<div class="form-textarea-input">
    <textarea placeholder="<%=data.placeHolder;%>" data-find="input"><%=data.value;%></textarea>
</div>
<%if(data.showNum){%>
<div class="form-textarea-num"><%=data.num;%>/<%=data.maxLen;%></div>
<%}%>
<%if(data.desc){%>
<div class="form-textarea-desc"><%=data.desc;%></div>
<%}%>
<div class="form-textarea-errortip" data-find="tip"></div>
<!--[select]-->
<div class="form-select-label"><%=data.label;%></div>
<div class="form-select-input">
    <select data-find="select">
    <%for(var i=0;i<data.options.length;i++){%>
        <option value="<%=data.options[i].value;%>"><%=data.options[i].name;%></option>
    <%}%>
    </select>
</div>
<%if(data.desc){%>
<div class="form-select-desc"><%=data.desc;%></div>
<%}%>
<div class="form-select-errortip" data-find="tip"></div>