<!--[text]-->
<div class="form-text-label"><%=data.label;%></div>
<div class="form-text-input">
    <input type="<%=data.inputType;%>" value="<%=data.value;%>" placeholder="<%=data.placeHolder;%>" data-find="input"<%=(data.disabled?" disabled='true'":"");%>/>
</div>
<%if(data.desc){%>
    <div class="form-text-desc"><%=data.desc;%></div>
<%}%>
<div class="form-text-errortip" data-find="tip"></div>
<!--[form]-->
<%for(var i=0;i<data.fields.length;i++){%>
<@module type="{{data.fields[i].type}}" option="{{$.is.isString(data.fields[i].option)?data.fields[i].option:''}}" id="{{i}}"/>
<%}%>
<!--[textarea]-->
<div class="form-textarea-label"><%=data.label;%></div>
<div class="form-textarea-input">
    <textarea placeholder="<%=data.placeHolder;%>" data-find="input"><%=data.value;%></textarea>
</div>
<%if(data.showNum){%>
<div class="form-textarea-num"><%=data.num;%>/<%=data.maxLen;%></div>
<%}%>
<%if(data.desc){%>
<div class="form-textarea-desc"><%=data.desc;%></div>
<%}%>
<div class="form-textarea-errortip" data-find="tip"></div>
<!--[select]-->
<div class="form-select-label">{{data.label}}</div>
<div class="form-select-input">
    <select data-find="select" data-bind="change:change">
        {{list data.options as item}}
            {{if item.value===data.value}}
            <option value="{{item.value}}" selected="true">{{item.name}}</option>
            {{else}}
            <option value="{{item.value}}">{{item.name}}</option>
            {{/if}}
        {{/list}}
    </select>
</div>
{{if data.desc}}
<div class="form-select-desc">{{data.desc}}</div>
{{/if}}
<div class="form-select-errortip" data-find="tip"></div>
<!--[checkbox]-->
<div class="form-checkbox-label"><%=data.label;%></div>
<div class="form-checkbox-input">
    <%for(var i=0;i<data.checkboxs.length;i++){%>
    <label class="form-checkbox-input-con" data-group="checkbox" @cache(data.checkboxs[i])>
        <div class="form-checkbox-input-dot"><input data-groupi="input" type="checkbox"/></div>
        <div class="form-checkbox-input-name"><%=data.checkboxs[i].name;%></div>
    </label>
    <%}%>
</div>
<%if(data.desc){%>
<div class="form-checkbox-desc"><%=data.desc;%></div>
<%}%>
<div class="form-checkbox-errortip" data-find="tip"></div>
<!--[radio]-->
<div class="form-radio-label"><%=data.label;%></div>
<div class="form-radio-input">
    <%var name=Math.random().toString(36).slice(2, 8);%>
    <%for(var i=0;i<data.radios.length;i++){%>
    <label class="form-radio-input-con" data-group="radio" @cache(data.radios[i])>
        <div class="form-radio-input-dot"><input data-groupi="input" type="radio" name="<%=name;%>"/></div>
        <div class="form-radio-input-name"><%=data.radios[i].name;%></div>
    </label>
    <%}%>
</div>
<%if(data.desc){%>
<div class="form-radio-desc"><%=data.desc;%></div>
<%}%>
<div class="form-radio-errortip" data-find="tip"></div>